[submodule "external/sharelogic"]
	path = external/sharelogic
	url = https://github.com/kansaz/common_library.git
[submodule "external/extension"]
	path = external/extension
	url = https://github.com/kansaz/extension.git
